$text-color: #1d1d1d;
$page-color: #ffffff;
$section-back: #f8f8f8;
$dark-section-text: #ffffff;
$dark-section-back: #0a0a0a;

$light-text: #83949d;
$section-text: #334852;

$header-light-text: #2a2a2a;
$header-light-main-text: #1d1d1d;

$header-sidebar-text: #5a5a5a;
$header-sidebar-light: #cdcdcd;
$social-links-back: #6a6a6a;
$social-links-hover: #f8f8f8;
$social-links-color: #090909;

$soc-links-light-back: #d2d2d2;
$soc-links-light-hover: #0e9cfe;
$soc-links-light: #ffffff;
$reg-link: #0a8ff9;
$about-bottom-lnk-border: #ddf1ff;

$how-card-text: #030303;
$how-card-border: #0a0a0a;
$how-card-number-symbol: #3eb8ff;
$how-card-step-symbol: #0c72e9;
$how-cards-border: #0d99fd;

$section-heading-color: #0a0a0a;
$hint-circle: #0072ec;

$safe-card-text: #979797;

$earn-card-border: #0a0a0a;
$earn-card-title: #050505;
$earn-number: #000000;
$earn1-lower-back: #3eb8ff;
$earn2-lower-back: #1ca2ff;
$earn3-lower-back: #0970e9;
$earn-lower-color: #ffffff;
$earn1-text-border: #a5d9ff;
$earn2-text-border: #70bcff;
$earn3-text-border: #6a9bef;

$bottom-card-title: #0a0a0a;
$bottom-card-border: #c7c7c7;

$comp-intro: #2a2a2a;
$email-text: #f8f8f8;

$gradient-start: #0e9dff;
$gradient-end: #0172ec;
$gradient-start-hvr: #3eb8ff;
$gradient-end-hvr: #1ca2ff;

$todo-questions-line: #e6e9e9;
$todo-card-border: #000000;
$todo-step: #ffffff;
$todo-step-back: #1ca2ff;
$todo-step-border: #0970e9;
$todo-intro: #0a0a0a;

$withdraw-card-border: #0a0a0a;
$withdraw-card-title: #0a0a0a;
$withdraw-card-symbol: #0970e9;
$withdraw-card-btn: #0f1112;
$withdraw-card-btn-hover: #c5defe;

$main-header-hvr: #0c97fc;
$header-text-symbol: #1ca2ff;
$footer-email: #1ca2ff;
$footer-email-hvr: #3eb8ff;
$footer-copyright: #5c5c5c;
$footer-question-text: #979797;
$up-btn: #606060;
$up-btn-back: #151515;
$footer-lower-border: #151515;
$footer-col-border: #292929;
$job-link: #0071ec;

$job-table-text: #000000;
$job-table-disabled: #dddddd;

$w400: 400px;
$w530: 530px;
$w620: 620px;
$w700: 700px;
$w760: 760px;
$w800: 800px;
$w820: 820px;
$w960: 960px;
$w980: 980px;
$tablet: 1024px;
$w1200: 1200px;
$w1320: 1320px;
$w1420: 1420px;
$w1460: 1460px;
$w1550: 1550px;
$w1700: 1700px;
$w1800: 1800px;
$hd: 1920px;
