.job-table {
  display: block;
  min-width: 308px;
  max-width: 1122px;
  width: calc(100% - 12px);
  margin: 0 auto 60px;
  
  @media (min-width: $w760) {
    margin: 0;
    margin-bottom: 50px;
  }
  
  @media (min-width: $tablet) {
    margin-bottom: 275px;
  }
  
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 224px;
    font-size: 18px;
    font-weight: 300;
    color: $job-table-text;
    border-bottom: 1px solid $job-table-text;

    @media (min-width: $w620) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 66px;
    }
    
    @media (min-width: $w700) {
      font-size: 19px;
    }
    
    @media (min-width: $tablet) {
      font-size: 21px;
    }
    
    @media (min-width: $w1420) {
      justify-content: flex-start;
    }
    
    &:first-child {
      border-top: 1px solid $job-table-text;
    }
    
    &_disabled {
      text-decoration: line-through;
      color: $job-table-disabled;
      
      @media (min-width: $w620) {
        position: relative;
        text-decoration: none;
      }
      
      &:after {
        position: absolute;
        z-index: 2;
        display: none;
        content: '';
        top: 34px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $job-table-disabled;
        
        @media (min-width: $w620) {
          display: block;
        }
      }
    }
  }
  
  &__cell {
    position: relative;
    z-index: 1;
    
    &_position {
      width: 260px;
      flex-shrink: 0;
      font-weight: 600;
      
      @media (min-width: $w620) {
        margin-right: 16px;
      }
      
      @media (min-width: $w1420) {
        width: 300px;
        margin-right: 34px;
      }
    }
    
    &_experience {
      @media (min-width: $w620) {
        margin-left: 16px;
        margin-right: 16px;
      }
      
      @media (min-width: $w1420) {
        margin-right: 90px;
      }
    }
    
    &_pay {
      @media (min-width: $w620) {
        margin-left: 16px;
        margin-right: 16px;
      }
      
      @media (min-width: $w1420) {
        margin-left: 100px;
        margin-right: 100px;
      }
    }
    
    &_year {
      @media (min-width: $w620) {
        margin-left: 16px;
      }
      
      @media (min-width: $w1420) {
        margin-left: 116px;
      }
    }
  }
}
